@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url("../fonts/montserrat/montserrat-v25-latin-300.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v25-latin-300.woff") format("woff"), url("../fonts/montserrat/montserrat-v25-latin-300.ttf") format("truetype"); }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/montserrat/montserrat-v25-latin-regular.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v25-latin-regular.woff") format("woff"), url("../fonts/montserrat/montserrat-v25-latin-regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/montserrat/montserrat-v25-latin-500.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v25-latin-500.woff") format("woff"), url("../fonts/montserrat/montserrat-v25-latin-500.ttf") format("truetype"); }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/montserrat/montserrat-v25-latin-700.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v25-latin-700.woff") format("woff"), url("../fonts/montserrat/montserrat-v25-latin-700.ttf") format("truetype"); }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""), url("../fonts/montserrat/montserrat-v25-latin-900.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v25-latin-900.woff") format("woff"), url("../fonts/montserrat/montserrat-v25-latin-900.ttf") format("truetype"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url("../fonts/inter/inter-v12-latin-300.woff2") format("woff2"), url("../fonts/inter/inter-v12-latin-300.woff") format("woff"), url("../fonts/inter/inter-v12-latin-300.ttf") format("truetype"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/inter/inter-v12-latin-regular.woff2") format("woff2"), url("../fonts/inter/inter-v12-latin-regular.woff") format("woff"), url("../fonts/inter/inter-v12-latin-regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/inter/inter-v12-latin-500.woff2") format("woff2"), url("../fonts/inter/inter-v12-latin-500.woff") format("woff"), url("../fonts/inter/inter-v12-latin-500.ttf") format("truetype"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/inter/inter-v12-latin-700.woff2") format("woff2"), url("../fonts/inter/inter-v12-latin-700.woff") format("woff"), url("../fonts/inter/inter-v12-latin-700.ttf") format("truetype"); }
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""), url("../fonts/inter/inter-v12-latin-900.woff2") format("woff2"), url("../fonts/inter/inter-v12-latin-900.woff") format("woff"), url("../fonts/inter/inter-v12-latin-900.ttf") format("truetype"); }
/* COLOR */
/* MEDIA */
/* TEXT GRADIENT */
/* MAIN STYLES */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px; }

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  color: #ffffff; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0; }

img {
  display: inline-block;
  width: 100%;
  height: auto;
  vertical-align: middle; }

.container {
  width: 100%;
  max-width: 117rem;
  min-width: 32rem;
  margin: 0 auto;
  padding: 0 1.5rem; }

a {
  text-decoration: none;
  color: #cccccc;
  font-weight: 500; }

h1 {
  font-size: 4.8rem;
  font-weight: 400; }
  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 3.8rem; } }
  @media only screen and (max-width: 500px) {
    h1 {
      font-size: 2.8rem; } }

h3 {
  font-size: 1.8rem;
  font-weight: 400; }

h4 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #cccccc; }

p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.8rem;
  color: #cccccc; }
  @media only screen and (max-width: 768px) {
    p {
      font-size: 1.6rem; } }
  @media only screen and (max-width: 500px) {
    p {
      font-size: 1.4rem; } }

.header {
  margin-top: 5rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; }
  @media only screen and (max-width: 500px) {
    .header {
      margin-top: 2.5rem; } }
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-column-gap: 1rem;
            column-gap: 1rem; }
  .header__logo {
    width: 14rem; }
  .header__img {
    width: 14rem;
    height: 2.4rem; }
  .header__text {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 1rem;
    margin-top: 1rem;
    color: #cccccc; }
  @media only screen and (max-width: 680px) {
    .header__nav {
      display: none; } }
  .header__nav.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    text-transform: uppercase;
    background: #13111a;
    padding: 1rem 1.5rem; }
    .header__nav.active .header__links {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      row-gap: 1rem; }
  .header__burger {
    position: relative;
    display: none;
    width: 4rem;
    height: 2rem;
    cursor: pointer;
    -webkit-transition: .2s linear;
    transition: .2s linear; }
    .header__burger span {
      display: block;
      position: absolute;
      width: 4rem;
      height: .1rem;
      background: #cccccc;
      pointer-events: none;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
      .header__burger span:nth-child(1) {
        top: 0; }
      .header__burger span:nth-child(2) {
        top: 49%; }
      .header__burger span:nth-child(3) {
        bottom: 0; }
    @media only screen and (max-width: 680px) {
      .header__burger {
        display: block; } }
    .header__burger.active span {
      width: 3.5rem; }
      .header__burger.active span:nth-child(1) {
        top: 50%;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .header__burger.active span:nth-child(2) {
        top: 49%;
        -webkit-transform: translateX(4rem);
                transform: translateX(4rem);
        background: #FCB045;
        opacity: 0; }
        @media only screen and (max-width: 500px) {
          .header__burger.active span:nth-child(2) {
            display: none; } }
      .header__burger.active span:nth-child(3) {
        bottom: 50%;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
  .header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 3rem;
            column-gap: 3rem; }
    @media only screen and (max-width: 820px) {
      .header__links {
        -webkit-column-gap: 1rem;
                column-gap: 1rem;
        font-size: 1.4rem; } }
  .header__link {
    -webkit-transition: .2s linear;
    transition: .2s linear; }
    .header__link:hover {
      color: #ffffff; }
  .header__media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 5rem;
            column-gap: 5rem; }
    @media only screen and (max-width: 990px) {
      .header__media {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 1rem;
        font-size: 1.4rem; } }
    @media only screen and (max-width: 500px) {
      .header__media {
        display: none; } }
    .header__media.active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      top: 324%;
      left: 0;
      padding: 1rem 1.5rem;
      background: #13111a;
      width: 100%; }
      .header__media.active .header__phone {
        display: none; }
      .header__media.active .header__socials {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; }
  .header__phone_toCall {
    white-space: nowrap;
    -webkit-transition: .2s linear;
    transition: .2s linear; }
    .header__phone_toCall:hover {
      color: #ffffff; }
  .header__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 3rem;
            column-gap: 3rem; }
    @media only screen and (max-width: 990px) {
      .header__socials {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media only screen and (max-width: 820px) {
      .header__socials {
        -webkit-column-gap: 2rem;
                column-gap: 2rem; } }
    .header__socials_link {
      display: block;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
      .header__socials_link:hover {
        -webkit-transform: translateY(-0.5rem);
                transform: translateY(-0.5rem); }
    .header__socials_icon {
      width: 2rem; }
  .header.active {
    margin-top: 0;
    padding: 2rem 0;
    background: #13111a; }
    .header.active .header__text {
      display: none; }

.intro {
  position: relative;
  padding-top: 21rem;
  width: 100%;
  height: 100vh;
  background: #13111a;
  background-image: url("../icons/home_page/purple_light.svg"), url("../icons/home_page/red_light.svg"), url("../icons/home_page/yellow_light.svg"), url("../icons/home_page/red_ball.svg"), url("../icons/home_page/yellow_ball.svg"), url("../icons/home_page/red_ball_small.svg"), url("../icons/home_page/polyhedron.svg"), url("../icons/home_page/dots.svg"), url("../icons/home_page/purple_ball.svg");
  background-repeat: no-repeat;
  background-position: 70% 0%, 0% 0%, 100% 0%, 40% 10%, 35% 95%, 60% 75%, center, center, 60% 0%; }
  .intro::after {
    content: '';
    display: block;
    background: rgba(19, 17, 26, 0.1);
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px); }
    @media only screen and (max-width: 500px) {
      .intro::after {
        width: 100%;
        -webkit-backdrop-filter: blur(3px);
                backdrop-filter: blur(3px); } }
  @media only screen and (max-width: 768px) {
    .intro {
      padding-top: 16rem; } }
  @media only screen and (max-width: 500px) {
    .intro {
      padding-top: 11rem;
      background-position: 70% 0%, 0% 0%, 100% 0%, 5% 35%, 100% 100%, 5% 75%, bottom, bottom, 60% 0%;
      background-size: auto, auto, auto, auto, auto, auto, 80%, auto, auto; } }
  .intro__inner {
    position: relative;
    z-index: 9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media only screen and (max-width: 768px) {
      .intro__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        row-gap: 5rem; } }
  .intro__block {
    max-width: 36rem; }
    .intro__block h1 {
      margin-bottom: 3rem; }
      @media only screen and (max-width: 768px) {
        .intro__block h1 {
          margin-bottom: 2rem; } }
      @media only screen and (max-width: 500px) {
        .intro__block h1 {
          margin-bottom: 1rem; } }
      .intro__block h1 span {
        font-weight: 900;
        background-image: linear-gradient(45deg, #FFB144, #FF3F78);
        /* Set the background size and repeat properties. */
        background-size: 100%;
        background-repeat: repeat;
        /* Use the text as a mask for the background. */
        /* This will show the gradient as a text color rather than element bg. */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent; }
    .intro__block P {
      max-width: 26rem; }
  .intro__about {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3rem; }
    @media only screen and (max-width: 768px) {
      .intro__about {
        gap: 2rem; } }
    @media only screen and (max-width: 500px) {
      .intro__about {
        gap: 1rem; } }
  .intro__grid {
    text-align: end; }
    @media only screen and (max-width: 500px) {
      .intro__grid {
        text-align: left; } }
    .intro__grid:nth-child(1) {
      grid-column: 1/3;
      margin-bottom: 1rem; }
    .intro__grid h3 span {
      text-transform: uppercase;
      font-weight: 900;
      background-image: linear-gradient(45deg, #FCB045, #FD1D1D);
      /* Set the background size and repeat properties. */
      background-size: 100%;
      background-repeat: repeat;
      /* Use the text as a mask for the background. */
      /* This will show the gradient as a text color rather than element bg. */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent; }
    .intro__grid h4 {
      position: relative;
      margin-bottom: .7rem; }
      @media only screen and (max-width: 500px) {
        .intro__grid h4 {
          padding-left: 1.5rem; }
          .intro__grid h4::before {
            content: '';
            display: block;
            background: linear-gradient(45deg, #FCB045, #FD1D1D);
            width: 1rem;
            height: 0.2rem;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
            left: 0; } }
    @media only screen and (max-width: 500px) {
      .intro__grid p {
        display: none; } }
  .intro__scroll {
    position: absolute;
    z-index: 9;
    bottom: 20%;
    left: 20%;
    -webkit-animation: scroll infinite alternate ease-in-out .7s;
            animation: scroll infinite alternate ease-in-out .7s; }
    @media only screen and (max-width: 500px) {
      .intro__scroll {
        bottom: 5%;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); } }
@-webkit-keyframes scroll {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  to {
    -webkit-transform: translateY(0.7rem);
            transform: translateY(0.7rem); } }
@keyframes scroll {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  to {
    -webkit-transform: translateY(0.7rem);
            transform: translateY(0.7rem); } }

/*# sourceMappingURL=main.css.map */