.intro {
    width: 100%;
    height: 100vh;
    background: $bl;
    padding-top: 21rem;
    &__block {
        max-width: 36rem;
        h1 {
            margin-bottom: 3rem;
            span {
                font-weight: 900;
                @include txtH1($colorH1);
            }
        }
        P {
            max-width: 26rem;
        }
    }
}